.user-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  img {
    width: 75px;
    height: 75px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid black;
  }
}

.user-username {
  color: #FFBE00;
  margin-left: 12px;
}

.liked-tag {
  background-color: #32de84;
  border-radius: 18px;
  box-shadow: rgba(153, 153, 153, 0.24) 0px 3px 8px;
}

.disliked-tag {
  background-color: #EF0107;
  border-radius: 18px;
  box-shadow: rgba(153, 153, 153, 0.24) 0px 3px 8px;
}

.collapse-content {
  border-top: solid 1px #9B9999;
}
